numpy
opencv_python
loguru
tqdm
torchvision
thop
ninja
tabulate
psutil
tensorboard

# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
torch>=1.7
pycocotools>=2.0.2
onnx>=1.16.0
onnxruntime-gpu>=1.17.1
onnxsim>=0.4.36
tensorrt
